html {
    font-size: 10px; 
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.6rem;
    margin: .8rem 0;
    padding: 0;
}

a {
    color: #0863d3;
    text-decoration: none;
}

a:hover,
a:active {
    color: #86c3ff;
}

.btn {
    background-color: #0863d3;
    border: .1rem solid #0863d3;
    border-radius: .3rem;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: .4rem .6rem;
    transition: background-color .3s;
}

.btn.danger {
    background-color: #e5003c;
    border: .1rem solid #e5003c;
    color: white;
}

.btn.danger:hover,
.btn.danger:active {
    background-color: white;
    color: #e5003c;
}

.btn:hover,
.btn:active {
    background-color: white;
    color: #0863d3;
}

a.danger {
    color: red;
}

a.danger:hover,
a.danger:active {
    color: #ffaf96;
}

.cleafix {
    clear: both;
}

header.top-nav {
    background-color: #0863d3;
    font-size: 2rem;
}

header.top-nav nav {
    margin: auto;
    width: calc(85% - 6.4rem);
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    height: inherit;
}

header.top-nav li {
    padding: 1.6rem 1rem;
    text-align: center;
}

header.top-nav li:first-of-type {
    margin-left: -1rem;
}

header.top-nav li:last-of-type {
    margin-right: -1rem;
}

header.top-nav li:hover,
header.top-nav li:active {
    background-color: white;
}

header.top-nav li:hover a,
header.top-nav li:active a {
    color: #0863d3;
}

header.top-nav li.active {
    background-color: white;
}

header.top-nav li.active a {
    color: #0863d3;
}

header.top-nav a {
    color: white;
}

header.top-nav a:hover,
header.top-nav a:active {
    color: lightgray;
}

.container {
    margin: 6.4rem auto;
    text-align: center;
    width: 85%;
}

.card {
    border: .1rem solid #ccc;
    box-shadow: .2rem .2rem .2rem #ccc;
    float: left;
    margin: 3.2rem;
    text-align: left;
    width: 40%;
}

.card header {
    background-color: #eee;
    border-bottom: .2rem solid #ccc;
    padding: .8rem;
    width: calc(100% - 1.6rem);
}

.card section ul {
    list-style: none;
    margin: 1.6rem;
    padding: 0;
}

.card section li {
    border: .1rem solid #ccc;
    margin: .8rem 0;
    padding: .8rem;
}

.info {
    color: #aaa;
    font-size: 1.4rem;
}

.edit ul {
    padding: 0 !important;
    margin: 0 !important;
}
.edit li {
    border: none !important;
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
}

.edit a {
    font-size: 1.4rem;
}

#post-admin,
#category-admin,
.list {
    background-color: #eee;
    border: .1rem solid #ccc;
    margin-bottom: 2.4rem;
    padding: .8rem 3.2rem;
    text-align: left;
    
}

.list ul {
    padding: 0;
}

.list li {
    list-style: none;
}

.list article {
    background-color: white;
    border: .1rem solid black;
    margin: 3.2rem 0;
    padding: 1.6rem;
}

#category-admin form input:focus {
    box-shadow: none;
    outline: .1rem solid #0863d3;
    padding: 0;
}

#category-admin form button,
#category-admin form input {
    font-size: 1.6rem;
}

#category-admin form button {
    cursor: pointer;
}

.pagination {
    font-size: 2.8rem;
}

.pagination a {
    padding: 0 1.6rem;
}

.added-categories {
    background-color: #eee;
    border: .1rem solid #ccc;
    border-radius: .3rem;
    line-height: 2.8rem;
    margin-top: 1.6rem;
    width: 100%;
}

.added-categories ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.added-categories li {
    display: inline-block;
    padding: 0 1rem;
}

li.category-edit {
    display: none;
}

li.category-edit input {
    max-width: 0;
    transition: all .3s;
}

#login-form {
    margin: 3.2rem auto;
    width: 30rem;
}